@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body{
  background-color: #efeef6;
  backdrop-filter: blur(3px);
  font-family: 'Rubik', sans-serif;
  padding: 50px;
}
.preview{
  max-width: 300px;
  max-height: 200px;
}
